[run]
branch = True
source = .
omit =
    */migrations/*
    */tests/*
    */settings/*
    manage.py
    config/wsgi.py
    config/asgi.py
    celery_app/celery.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if TYPE_CHECKING:
    if __name__ == .__main__.:
show_missing = True
skip_covered = False
